# === General ===
node_modules/
dist/
build/
.env
.env.*.local
logs
*.log
.DS_Store
.vscode/
.idea/

# === Backend ===
skill-refiner-api/coverage/
skill-refiner-api/.nyc_output/

# === Frontend ===
skill-refiner-ui/.next/
skill-refiner-ui/out/
